@import './base.css';
body {
  min-height: 100vh;
}
main {
  min-height: 100vh;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}
header {
  line-height: 1.5;
}
footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
}
footer h2 {
  margin-bottom: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.btns-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration: none;
position: relative;
color: var(--primary-color);
transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
letter-spacing: 0.1em;
}
a::after {
content: '';
display: block;
width: 0;
height: 2px;
background: var(--main-color);
transition: width 0.3s;
position: absolute;
bottom: -2px;
left: 0;
}
a:hover::after {
width: 100%;
}
/* 1. Define the active transition state and duration */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

/* 2. Define the starting opacity for entering, and ending opacity for leaving */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 768px) {
.grid-container {
  width: 45rem;
  margin: 2rem auto;
  grid-template-columns: 1fr 1fr;
}
}
